
html {
    font-family: "vazir" , sans-serif;
    font-size: 100%;
}
/* _______________________________________________________________________________________________________________________________________ */

body {
    background-color: wheat;
    font-weight: bold;
    font-size: 2rem;
    padding: 5rem 20rem;
}

.section {
    text-align: left;
    color: green;
    margin-bottom: 5rem;
}

.container {
    width: 300px;
    height: 300px;
    perspective: 600px;
    text-align: center;
}



.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* transition-property: transform;
    transition-duration: 5000ms;
    transition-timing-function: ease-out; */
    /* transition: transform 5000ms ease-out; */
    animation: RunCube 4s ease-in-out 0s infinite alternate;
}

@keyframes RunCube {
    from {
        /* transform: rotateY(20deg) scale(.5); */
        transform: rotateX(20deg) scale(.75);
    }
    to {
        /* transform: rotateY(400deg) scale(2); */
        transform: rotateX(400deg) scale(1.25);
    }

    /* 0% {
        transform: rotateY(20deg) scale(.5);
    }
    33% {
        transform: rotateY(140deg) scale(1);
    }
    66% {
        transform: rotateY(260deg) scale(1.5);
    }
    100% {
        transform: rotateY(380deg) scale(2);
    } */
}



.cube_face {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 10px solid green;
    margin-left: 20rem;
    color: white;
}


.cube_front {
    /* background: rgba(255, 0, 0, .7); */
    background: rgba(173, 255, 47, .7);
    transform: translateZ(160px) rotateY(0);
    /* transform: rotateY(0deg) translateZ(150px); */
}
.cube_back {
    /* background: rgba(0, 255, 0, .7); */
    background: rgba(173, 255, 47, .7);
    transform: translateZ(-160px) rotateY(180deg);
    /* transform: rotateY(180deg) translateZ(150px); */
}
.cube_right {
    /* background: rgba(0, 0, 255, 0.7); */
    background: rgba(173, 255, 47, .7);
    transform: translateX(160px) rotateY(90deg);
    /* transform: rotateY(90deg) translateZ(150px); */
}
.cube_left {
    /* background: rgba(255, 255, 0, .7); */
    background: rgba(173, 255, 47, .7);
    transform: translateX(-160px) rotateY(-90deg);
    /* transform: rotateY(-90deg) translateZ(150px); */
}
.cube_top {
    /* background: rgba(255, 0, 255, .7); */
    background: rgba(173, 255, 47, .7);
    transform: translateY(-160px) rotateX(90deg);
    /* transform: rotateX(90deg) translateZ(150px); */
}
.cube_bottom {
    /* background: rgba(0, 255, 255, .7); */
    background: rgba(173, 255, 47, .7);
    transform: translateY(160px) rotateX(-90deg);
    /* transform: rotateX(-90deg) translateZ(150px); */
}









